html {
    background-color: bisque;
}
.heading {
    font-size: 22px;
    color: rgb(167, 112, 93);
    margin-bottom: 16px;
    text-align: center;
    
}

h1 {
    font-style: italic;
    color: peru;
    border-style: inset;
    background-color: white;
    text-align: center;
}
.rake {
    font-style: oblique;
    list-style-type: none;
    margin: 8px;
    padding: 8px;
}
.links {
    color: rgb(109, 76, 33);
    font-family: sans-serif;
    font-weight: bold;
}